*{ 
    margin-top: 5px;
    padding-right: 5px;
    padding-left: 5px ;
    box-sizing: border-box;
    font-family:Helvetica;
    margin-bottom: 15px;
}

.parte_inicial{
    background-color: #ccd6bd;
    text-align: center;
    
}

.buttom{
    text-decoration: none;
    border-radius: 5% ;
    color: rgb(218, 218, 218);
}

a:hover{
   color:green;
}

hr {
    height: 3px;
    background-color: rgb(13, 70, 80);
}
.foto_minha{
    width: 200px ;
    height: 200px ;
    border-radius: 50% ;
    
}

#github{
    background-color:rgb(163, 163, 163) ;
}

#facebook{
    background-color: rgb(111, 121, 255) ;
}

#instagram{
    background-color: rgb(255, 140, 159) ;
}

.sobre{
    font-size: 18px;
    text-align: center ;
    background-color: rgb(209, 209, 209);
    
}

.mudar{
    padding-top: 15px;
    color: rgb(13, 70, 80);
   
}

.mudar_cor{
    color: #ccd5da;
    text-decoration: underline;
    padding-top: 10px;
}

footer{
    background-color: #ccd6bd;
}