*{
    font-family: 'Arial';
    margin: 2%;
}
.card1{
    color:white;
    right: 600px;
}

body{
    background-size: 100%;
}

.center{
    text-align: center;
}


.titulo{
    right:20px ;
}

.card_todos{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px;
    margin-top: 5%;
}


.card1{
    background-color: hsla(216, 74%, 59%, 0.92);
    width: 500px;
    height: 600px;
    color: white;
   
}

.quando_nao_tem{
    margin-left: 10px;
    margin-right: 50px;
    margin-top: 2%;
}

.meu_titulo{
    margin-left: 35%;
    margin-right:40%;
    margin-top: 2%;
}

.text1{
    margin-top: 10%;
}

.inp{
    margin-top: 20%;
    margin-left: 60px;
}

.quando_nao_tem{
    width: 480px;
    height: 300px;
}